.app {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

body {
  background-color: aquamarine;
  min-height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.download-button {
  margin-top: 20px;
}

.sticker-button,
.download-button {
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.sticker-button:hover {
  background-color: #ddd;
}

.download-button:hover {
  background-color: goldenrod;
  color: white;
  border: none;
}

.sticker-button img {
  display: block;
}